FrontendApp/node_modules/
FrontendApp/.expo/
FrontendApp/dist/
FrontendApp/npm-debug.*
FrontendApp/*.jks
FrontendApp/*.p8
FrontendApp/*.p12
FrontendApp/*.key
FrontendApp/*.mobileprovision
FrontendApp/*.orig.*
FrontendApp/web-build/
myenv
backendApp/.env
backendApp/__pycache__

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
ShopMobileApp/.metro-health-check*
